.main {
  padding: 1.5vw;
  background-color: white;

  position: absolute;

  border-radius: 0.2vw;
  box-shadow: 0.05vw 0.05vw 0.1vw black;
  position: absolute;
  left: 15vw;
  right: 15vw;
  top: 35%;
}
